<div class="container">
  <nav>
    <ul>
      <li>TheGallery</li>
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
      <li>{{#link-to 'gallery'}}Your Gallery{{/link-to}}</li>
      <li>{{#link-to 'search'}}Find Art{{/link-to}}</li>
      <li>{{#link-to 'game'}}Art Quiz{{/link-to}}</li>
      <li>{{#link-to 'store'}}Store{{/link-to}}</li>
    </ul>
  </nav>
  <header class="jumbotron">
    <h1>The Gallery</h1>
  </header>
    {{outlet}}
</div>
