<div class="jumbotron">
</div>
<div class="leftColumn">
  {{#link-to 'search'}}
  <h3>Search for art</h3>
  {{/link-to}}
</div>
<div class="righColumn">
  <div class="gallery">
    {{#link-to 'gallery'}}
    <h3>Create a gallery</h3>
    {{/link-to}}
  </div>
  <div class="game">
    {{#link-to 'game'}}
    <h3>Art quiz</h3>
    {{/link-to}}
  </div>
</div>
<div class="featured">
  <h4>Today's Featured Art</h4>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
