<div class="jumbotron">
</div>
<div class="leftColumn">
  <h3>Search for art</h3>
</div>
<div class="righColumn">
  <div class="gallery">
    <h3>Create a gallery</h3>
  </div>
  <div class="game">
    <h3>Art quiz</h3>
  </div>
</div>
<div class="featured">
  <h4>Today's Featured Art</h4>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
